.controlPanel {
    width: 100%;

}
.btn-activate{
    width: 1%;
    display:inline-block;
    font-size: 1vw;
    padding:0.35vw 1.2vw;
    border:0.1em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color:#000000;
}
.btn-activate:hover{
    color:#000000;
    background-color:#FFFFFF;
}
.btn-activate{
    display:block;
    margin: 1% 0% 1% 0%;
}

.btn-activated {
    color:#000000;
    background-color:#FFFFFF;
    cursor: not-allowed;
}